KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", KERNELS=="1-6.2", SYMLINK+="motor0"
KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", KERNELS=="1-6.4", SYMLINK+="blueteethserial0"

